<template name="DefaultLayout">
  {{#ionBody}}
    {{> ionNavBar}}
    {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}
  {{/ionBody}}
  {{#ionTabs style="ios"}}
    {{> ionTab 
        title="Home" 
        path="home" 
        iconOff="ios-home-outline" 
        iconOn="ios-home"
        class="tab-item-positive"
    }}
    {{> ionTab 
        title="Search" 
        path="search" 
        iconOff="ios-search-strong" 
        iconOn="ios-search"
        class="tab-item-positive"
    }}
    {{> ionTab 
        title="Photo" 
        path="new_post" 
        iconOff="ios-camera-outline" 
        iconOn="ios-camera"
        class="tab-item-positive"
    }}
    {{> ionTab 
        title="Activity" 
        path="activity" 
        iconOff="ios-heart-outline" 
        iconOn="ios-heart"
        class="tab-item-positive"
    }}
    {{> ionTab 
        title="Profile" 
        path="profile" 
        iconOff="ios-person-outline" 
        iconOn="ios-person"
        class="tab-item-positive"
    }}
  {{/ionTabs}}

</template>
